/* Container */
.container {
  /* text-align: center; */
  /* padding: 20px; */
  font-family: "Baloo 2", sans-serif;
  background: linear-gradient(-45deg, #2f06c2, #1915da, #2434df);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  /* font-size: 2.5rem;
  font-weight: bold; */
  margin-bottom: 20px;
  margin-left: 70px;
  /* color: #000000; */
  /* text-shadow: 4px 4px #ff5733; */
  /* border: 3px solid black; */
  display: inline-block;
  padding: 10px 20px;
  /* background: #ffcc00; */
  border-radius: 20px;
  
}


/* Grid Layout for Large Screens */
.internship-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

/* Internship Categories */
.internship-category {
  background: white;
  border-radius: 15px;
  padding: 20px;
  /* box-shadow: 6px 6px 0px black; */
  text-align: center;
  border: 2px solid black;
  color: black;
}

/* Internship Cards */
.internship-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 6px 0;
  box-shadow: 4px 4px 0px rgb(0, 0, 0);
  transition: transform 0.3s ease-in-out;
  border: 2px solid black;
}

.internship-card:hover {
  transform: scale(1.05);
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  .internship-grid {
    grid-template-columns: 1fr;
    padding: 40px;
  }
  .internship-category{
    max-width: 450px;
    margin-left: 145px;
  }
}
